.title p {
    text-transform: uppercase;
    color: #474740;
}

.nav {
    list-style: none;
}

.nav-link  {
    color: #474740;
    border-radius: 0.3rem;
    border: solid 1px #474740;
    text-transform: capitalize;
    text-decoration: none;
    width: 20rem;
    
}

.nav-link:hover {
    box-shadow: 0 0 8px 3px #9B9073;
    border-radius: 0.3rem;
    background: #474740;
    color: #fff;
}

footer a {
    color: #474740;
    text-decoration: none;
}

footer a:hover {
    color: #474740;
    text-shadow: 0.1em 0.1em 0.2em #9B9073;
    text-decoration: none;
}

@media (max-width: 400px) {
    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 1rem;
    }

    .nav-link {
       width: 15rem;
       font-size: 0.95rem;
    }
}
