.title p {
    text-transform: uppercase;
    color: #474740;
}

.nav {
    list-style: none;
}

.nav-link {
    color: #474740;
    text-transform: capitalize;
    text-decoration: none;
    width: 20rem;
}

.nav-link:hover {
    background: #474740;
    color: #fff;
}

